* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #ededed;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  background: #2baae2;
  border: 1px solid #42b6e7;
  color: #fff;
  padding: 20px 70px;
  font-size: 24px;
  position: relative;
  outline: none;
  cursor: pointer;
  min-width: 300px;
  border-radius: 3px;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
}
button:not([disabled]):hover {
  background: #fff;
  color: #2baae2;
}
button[disabled] {
  background: #1a7186;
  color: #ffffff3b;
  cursor: default;
}
button:after {
  content: '';
  display: block;
  position: absolute;
  opacity: 0;
  width: 30px;
  height: 30px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-right-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: -30px;
  top: 15px;

  transition-property: transform;
  transition-duration: 0.5s;

  transition-property: transform;
  transition-duration: 0.5s;

  animation-name: rotate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  animation-name: rotate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  transition: all 0.2s linear;
  transform: scale(2);
  transform: scale(2);
}

button.loading:after {
  opacity: 1;
  left: 15px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-container {
  padding: 50px 40px;
  background: #fff;
  width: 400px;
  text-align: center;
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  transition: all 1s linear;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-container h3 {
  font-size: 32px;
  text-align: center;
  color: #666;
  margin: 0 0 30px;
}

.form-container .login-form > div {
  margin-bottom: 20px;
}

.form-container .login-form > div > input {
  border: 2px solid #dedede;
  padding: 20px;
  font-size: 20px;
  min-width: 300px;
  color: #666;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  -webkit-transition: border-color 0.2s linear;
  -moz-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
}

.form-container .login-form > div > input:focus {
  border-color: #a5a5a5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
